/* @media only screen and(max-width : 768px) {
 
.showing {
max-height: 100em;
}
header ul {
width: 100%;
background: #e74c3c;
max-height: 0px;
overflow: hidden;

}

header ul li {
width: 100%;


}

header ul li ul {
position: static;
display: block;
width: 100%;

}

header ul li ul li a {

padding: 10px;
background-color: #0E94A0;
color: white;
padding-left: 10px;
}
header ul li ul li a.logout {
color: red;

}



header .menu-toggle{
display: block;
font-size: 1.9em;
position: absolute;
right: 30px;
top: 30px;
}



header .logo{
margin-left: 0.5em;


}
header .logo-text {

margin: 14px;
}

}


 */
