/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

.slick-dots{
    display: none !important;
}



.whatsapp_main {
    position: fixed;
    bottom: 15px;
    left: 12px;
}

.whatsapp_main img{
    width: 5%;
}

.post-slider{
  
    position: relative;
    background-color: #f6f6f6;
    height: 400px;
}

.post-slider1{
  
    position: relative;
    background-color: #f6f6f6;
    height: 1500px;
}


.post-slider1 .slider-title,
.post-slider .slider-title
{
    text-align: center;
    margin: 30px auto;
}

.post-slider1 .post-wrapper,
.post-slider .post-wrapper
{
  /* border: 1px dashed red; */
  width: 100%;
  height: 350px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0 10px 0;
  /* box-shadow: 0 4px 4px 6px rgb(230, 229, 229); */
  border-radius: 5px;
margin-bottom: 15px;


}
.post-slider1 .next {
    position: absolute;
    top: 50%;
    right: 30px;
    cursor: pointer;
    color: #006669;
    font-size: 2em;
    }
.post-slider1 .prev {
position: absolute;
top: 50%;
left: 30px;
cursor: pointer;

color: #006669;
font-size: 2em;
}

.post-slider1 .post-wrapper .post,
.post-slider .post-wrapper .post {
background-color: white ;
/* background-color: #ececea; */

display: inline-block;
height: 330px;
margin:0px 10px;
border-radius: 5px;
width: 300px;
overflow: hidden;

/* box-shadow: 2px 1px 1px 2px rgb(246, 244, 244); */
}
.post-slider1 .post-wrapper .post .slider-img,
.post-slider .post-wrapper .post .slider-img
{
    width: 100%;
    height: 210px;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
    transition: transform 0.5s;
}

.post .slider-img:hover {
    transform: scale(1.1);
  
  }



  .post-slider1 .post-wrapper .post .post-info1{
    /* border: 1px solid green; */
    background-color: rgb(246, 240, 240)  !important;
    height: 50px;
    padding: 0px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.post-info1 h5  {
/* width: 60%; */
font-weight: 400;
padding-top: 10px;
margin-top:10px ;
text-align: center;

}

.post-info1 h5 a  {
  
    color: black;
    
    
    }
.post-slider .post-wrapper .post .post-info{
    /* border: 1px solid green; */
    background-color: white !important;
    height: 125px;
    padding: 0px 5px;
    border-radius: 5px;
    
}

.post-info h5  {
width: 60%;
font-weight: 400;
margin-left: 20px;
margin-top:20px ;

}

.post-info h5 a  {
   margin-top: 10px;
    color: black;
    
    }
.post-slider .post-wrapper .post i {
    margin-left: 3px;
    
font-size: 12px;

}
.post-slider .post-wrapper .post i span{
    margin-left: 3px;
    
font-size: 12px;

}

@media only screen and (max-width:768px){

    .post-info h5  {
        width: 90%;
        font-weight: 300;
        margin-left: 20px;
        
        
        }

        .whatsapp_main {
            bottom: 13px;
            left: 13px;
        }
        
        .whatsapp_main img{
            width: 6%;
        }

}


@media only screen and (max-width:425px){

    .post-slider .post-wrapper .post .slider-img{
       
        height: 270px;
       
    }
    .whatsapp_main {
        bottom: 15px;
        left: 15px;
    }
    
    .whatsapp_main img{
        width: 10%;
    }
        

}


